<?xml version="1.0"?><configuration>
  <configSections>

  </configSections>

  <connectionStrings>
    <add name="mycon" connectionString="Data Source=DESKTOP-RO4TU8J\SQLEXPRESS;Initial Catalog=TimetableDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="mycon" connectionString="Data Source=HP\SQLEXPRESS;Initial Catalog=SammarDB;Integrated Security=True" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.5">
     
    </compilation>
  </system.web>

</configuration>